/* 
	shell styles
	important: these should be namespaced
	example:
		let's say you are creating an app called "calculator"; you should prefix all your styles with your application's name like so
		
		.calculator img {
			border: 1px solid #000;
		}
		.calculator p {
			margin: 10px 0px;
		}
		etc...

	other notes:
	* don't use ids - there may be more than one of your apps open; use classes!
	* the toolbar element is absolutely positioned and 100% wide (and therefor 0px high);
	  any elements inside it should also be absolutely positioned
*/

.shell img.shell_icon {
	width: 55px;
	height: 55px;
	position: absolute;
	top: 27px;
	left: 3px;
	cursor: default;
}

.shell .plus_button{
    position: absolute;
    top: 40px;
    left: 65px;
    cursor: pointer;
    padding: 7px 7px 7px 23px;
   	background: url("/static/art/icons/add.png")
}

.shell .fakelink{
    cursor: pointer;
}

.shell .fixed_width_font{
    font-family: monospace;
    font-size: 14px;
}

.shell textarea{
    border-width:0px;
    position:absolute;
    width:70%;
    overflow:hidden;
    outline:none;
    padding:0px;
    resize:none;
}

.shell table{
    border-spacing:0px 10px;
    border-collapse: separate;
    background-color: #ffffff;
    text-align: center;
    padding: 0px 10px;
    margin-left:auto;
    margin-right:auto;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.shell tr td.left{
    background-image: url("/shell/static/art/left.png");
    width:4px;
}

.shell tr td.right{
    background-image: url("/shell/static/art/right.png");
    width:4px;
}

.shell tr td.middle{
    font-size:15px;
    background-image: url("/shell/static/art/middle.png");
    padding: 0px 15px;
    height:50px;
    vertical-align:middle;
}

.shell tr.button_down td.left{
    background-image: url("/shell/static/art/left-down.png");
}

.shell tr.button_down td.middle{
    background-image: url("/shell/static/art/middle-down.png");
}

.shell tr.button_down td.right{
    background-image: url("/shell/static/art/right-down.png");
}